body {
  background-color: #edeefb;
}

/* Desktop headline */
#headline#headline {
  display: block !important;
  background-position: center left;
  background-image: url('./cool-delivery-logo.png');
  background-repeat: no-repeat;
  background-size: 308px 44px;
  margin-top: 12px;
  margin-left: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  #headline#headline {
    margin-left: 30px;
    margin-bottom: 20px;
  }
}

#headline .lang span {
  display: none;
}
