@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeefb;
  background-image: 'url/background_desktop.png';
  color: #302935;
  font-family: 'IBM Plex Sans', sans-serif;
}

button {
  color: white;
}

code {
  font-family: 'IBM Plex Sans', sans-serif;
}
